<!DOCTYPE html>
<html>
  <head>
    <title><%= title ></title>
    <link rel="stylesheet" href="/ch2/express_app/public/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title ></h1>
    <p><%= message ></p>
  </body>
</html>
