<%- include('header', title) %>

<p class="my-2" id="msg"><%= message %></p>
<form action="/hello" method="post">
  <div class="mb-3">
    <label for="comment" class="form-label">Message</label>
    <input type="text" name="comment" id="comment" class="form-control" />
  </div>
  <button class="btn btn-primary" type="submit">送信</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <% for(item of comments){ %>
    <tr>
      <td><%= item %></td>
    </tr>
    <% } %>
  </tbody>
</table>
<%- include('footer') %>
